# Default ignored files
.idea/**
__pycache__/**
**.pyc
mosaik_omnetpp_files/out/**
mosaik_omnetpp_files/src/results/**
*.pb.o
*.pb.o.d
/cosima_omnetpp_project/cosima_omnetpp_project
/cosima_omnetpp_project/out/clang-release/cosima_omnetpp_project
/cosima_omnetpp_project/out/clang-release/MosaikMessage_m.h.d
/cosima_omnetpp_project/out/clang-release/MosaikMessage_m.o
/cosima_omnetpp_project/.qtenvrc
/cosima_omnetpp_project/.cproject 
/cosima_omnetpp_project/.oppbuildspec
*.o.d
*.o
*.sca
*.vci
/cosima_omnetpp_project/results/General-\#0.vec
*.settings.xml
/cosima_omnetpp_project/Makefile
/cosima_omnetpp_project/TikTokPacket_m.cc
/cosima_omnetpp_project/TikTokPacket_m.h
/cosima_omnetpp_project/out/clang-release/TikTokPacket_m.h.d
/cosima_omnetpp_project/cosima_omnetpp_project_dbg
/cosima_omnetpp_project/out/clang-debug/cosima_omnetpp_project_dbg
/cosima_omnetpp_project/out/clang-debug/.last-copts
.pytest_cache/
/tests/.pytest_cache
/tests/integration_tests/.pytest_cache
/tests/unit_tests/simulators/.pytest_cache
