arrow==1.2.3
json-tricks==3.16.1
matplotlib==3.6.2
mosaik==3.1.0
mosaik_api==3.0.3
mosaik-householdsim==2.1.0
numpy==1.24.0
pandas==1.5.2
protobuf==3.13.0
psutil==5.9.4
pytest==7.2.0
pytest_check==1.3.0
setuptools==65.6.3
simpy==3.0.13
termcolor==2.1.1
mango-agents @ git+https://gitlab.com/mango-agents/mango.git@d0a00405a7eb3af71ed5c65775907d40b8111cdb
mango-library @ git+https://gitlab.com/mango-agents/mango-library.git@cc9ceb8d9714c713b47397aa25e618852b2290f9

